#01 - Data Ingestion (Rebrickable)

Purpose: Pull LEGO data **themes**, **sets** (>= 1990), and a small **inventory sample** via Rebrickable API and persist to 'data/raw'.

In [14]:
from pathlib import Path
import os
from dotenv import load_dotenv

load_dotenv()  # reads .env at project root

# Resolve project root whether run from / or /notebooks
CWD = Path.cwd()
PROJ = CWD if (CWD / "data").exists() else CWD.parent
RAW = PROJ / "data" / "raw"

print("Project root:", PROJ)
print("Raw data dir:", RAW)
print("Has API key:", bool(os.getenv("REBRICKABLE_API_KEY")))

Project root: /Users/miaalexander/Documents/ML_Projects/brickworth-lego-price-predictor
Raw data dir: /Users/miaalexander/Documents/ML_Projects/brickworth-lego-price-predictor/data/raw
Has API key: True

In [15]:
# Runs src/data_ingestion.py -> writes CSV/Parquet into data/raw/
import runpy
_ = runpy.run_module("src.data_ingestion", run_name="__main__")

KeyboardInterrupt:

## Verify outputs
Sanity‑check that expected files exist and have rows.

In [16]:
import pandas as pd

themes_p = RAW / "rebrickable_themes.csv"
sets_p = RAW / "rebrickable_sets_all.csv"
inv_p = RAW / "rebrickable_inventories_sample.csv"

for p in [themes_p, sets_p, inv_p]:
    print(p.name, "→ exists:", p.exists())
    if p.exists():
        df = pd.read_csv(p, nrows=5)
        print("  sample rows:", len(df))
        display(df.head(3))

rebrickable_themes.csv → exists: True
  sample rows: 5

   id  parent_id            name
0   1        NaN         Technic
1   3        1.0     Competition
2   4        1.0  Expert Builder

rebrickable_sets_all.csv → exists: True
  sample rows: 5

,set_num,name,year,theme_id,num_parts,set_img_url,set_url,last_modified_dt
0,0003977811-1,Ninjago: Book of Adventures,2022,761,1,https://cdn.rebrickable.com/media/sets/0003977...,https://rebrickable.com/sets/0003977811-1/ninj...,2024-01-24T19:20:15.546851Z
1,010423-1,The Majestic Horse,2023,721,492,https://cdn.rebrickable.com/media/sets/010423-...,https://rebrickable.com/sets/010423-1/the-maje...,2023-04-03T14:52:47.187291Z
2,0241187567-1,Ninjago: Build Your Own Adventure,2015,761,74,https://cdn.rebrickable.com/media/sets/0241187...,https://rebrickable.com/sets/0241187567-1/ninj...,2024-01-21T22:47:20.815654Z

rebrickable_inventories_sample.csv → exists: True
  sample rows: 5

,id,inv_part_id,part,color,set_num,quantity,is_spare,element_id,num_sets
0,21213012.0,21213012.0,"{'part_num': '21459', 'name': 'Weapon Sword / ...","{'id': 179, 'name': 'Flat Silver', 'rgb': '898...",0003977811-1,1.0,False,6116593,158.0
1,22999625.0,22999625.0,"{'part_num': '48729b', 'name': 'Bar 1L with Cl...","{'id': 0, 'name': 'Black', 'rgb': '05131D', 'i...",010423-1,8.0,False,6278152,400.0
2,22999570.0,22999570.0,"{'part_num': '3024', 'name': 'Plate 1 x 1', 'p...","{'id': 0, 'name': 'Black', 'rgb': '05131D', 'i...",010423-1,5.0,False,302426,1289.0